<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard v.1.0 | Adminpro - Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/Assets/Admin/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/font-awesome.min.css">
    <!-- adminpro icon CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/adminpro-custon-icon.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/meanmenu.min.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/jquery.mCustomScrollbar.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/animate.css">
    <!-- data-table CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/Assets/Admin/css/data-table/bootstrap-editable.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/form/all-type-forms.css">
    <!-- form CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/form.css">
    <!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/style.css">
    <!-- notifications CSS
    ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/Lobibox.min.css">
    <link rel="stylesheet" href="/Assets/Admin/css/notifications.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/Admin/css/responsive.css">
</head>

<body class="darklayout">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Header top area start-->
    <div class="wrapper-pro">
        <div class="left-sidebar-pro">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <a href="#">
                        <img src="/Assets/Admin/img/message/1.jpg" alt="" />
                    </a>
                    <h3>Hello Admin</h3>
                    <p>Admin</p>
                    <strong>AD+</strong>
                </div>
                @RenderPage("LeftMenu.cshtml")
            </nav>
        </div>
        <div class="content-inner-all">
            @RenderPage("HeaderTop.cshtml")
            <!-- Header top area end-->
            <!-- Breadcome start-->
            <div class="breadcome-area mg-b-30 small-dn">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcome-heading">
                                            <h2>WelCome back to admin system</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <ul class="breadcome-menu">
                                            <li>
                                                <a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li>
                                                <span class="bread-blod">@RenderSection("page", required: true)</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            <!-- Breadcome End-->
            <!-- Mobile Menu start -->
            @RenderPage("_MobileMenu.cshtml")
            <!-- Mobile Menu end -->
            <!-- Body -->
            @RenderBody()
            <!-- End body-->
        </div>
    </div>
    <!-- Footer Start-->
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright &#169; 2018 Colorlib All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
    <!-- Chat Box Start-->
    @RenderPage("_ChatBox.cshtml")
    <!-- Chat Box End-->
    <!-- jquery
        ============================================ -->
    <script src="/Assets/Admin/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="/Assets/Admin/js/bootstrap.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="/Assets/Admin/js/jquery.meanmenu.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="/Assets/Admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="/Assets/Admin/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="/Assets/Admin/js/jquery.scrollUp.min.js"></script>
    <!-- data table JS
        ============================================ -->
    <script src="/Assets/Admin/js/data-table/bootstrap-table.js"></script>
    <script src="/Assets/Admin/js/data-table/tableExport.js"></script>
    <script src="/Assets/Admin/js/data-table/bootstrap-table-export.js"></script>
    <!---Ckfinder-->
    <script src="/Assets/Admin/js/plugins/ckfinder/ckfinder.js"></script>
    <!---CKEditor-->
    <script src="/Assets/Admin/js/plugins/ckeditor/ckeditor.js"></script>
    <!-- notification JS
    ============================================ -->
    <script src="/Assets/Admin/js/Lobibox.js"></script>
    <script src="/Assets/Admin/js/notification-active.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="/Assets/Admin/js/main.js"></script>
    @if (TempData["AlertMessage"] != null)
    {
        <script>
            $(document).ready(function () {
                Lobibox.notify('@TempData["AlertType"]', {
                    delay: 15000,
                    msg: '@TempData["AlertMessage"]'
                });
            })
        </script>
    }
    @RenderSection("script", false);
</body>

</html>