@model Model.EF.Content

@{
    ViewBag.Title = "Edit Content";
}
@section page{
    Create Content
}
<!-- Basic Form Start -->
<div class="basic-form-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline12-list shadow-reset mg-t-30">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1>Create Content</h1>
                            <div class="sparkline12-outline-icon">
                                <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline12-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="all-form-element-inner">
                                        @using (Html.BeginForm("Edit", "Content", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @type = "hidden"} })
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="input-group custom-go-button">
                                                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @id = "txtImages" } })
                                                            <span class="input-group-btn"><button type="button" id="btnSelectImage" class="btn btn-primary">Choice Images!</button></span>
                                                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.MoreImages, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.EditorFor(model => model.MoreImages, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                                                        @Html.ValidationMessageFor(model => model.MoreImages, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.DropDownListFor(model => model.CategoryId, null, htmlAttributes: new { @class = "form-control list-box tri-state" })
                                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.TextAreaFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" }, id = "txtContent" })
                                                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.Warranty, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.EditorFor(model => model.Warranty, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Warranty, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.MetaKeywords, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.EditorFor(model => model.MetaKeywords, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.MetaKeywords, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.TopHot, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.EditorFor(model => model.TopHot, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.TopHot, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                                        @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "login2 pull-right pull-right-pro" })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="login-btn-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3"></div>
                                                        <div class="col-lg-9">
                                                            <div class="login-horizental cancel-wp pull-left">
                                                                <button class="btn btn-white" type="submit">Cancel</button>
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Basic Form End-->

@section script{
    <script>
        $(document).ready(function () {
            $("#btnSelectImage").on("click", function (e) {
                e.preventDefault();
                var ckfinder = new CKFinder();
                ckfinder.selectActionFunction = function (url) {
                    $('#txtImages').val(url);
                };
                ckfinder.popup();
            })
        })
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js',
        })
    </script>
}
