@model Model.EF.SystemAbout
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var followUs = (List<Model.EF.FollowU>)ViewBag.FollowUS;
}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Contact</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-info">
                    <h2>Our Office</h2>
                    <h3><i class="fa fa-map-marker"></i>@Model.Address</h3>
                    <h3><i class="fa fa-envelope"></i>@Model.Email</h3>
                    <h3><i class="fa fa-phone"></i>@Model.Phone</h3>
                    <div class="social">
                        @foreach (var item in followUs)
                        {
                            <a href="@item.url"><i class="@item.icon"></i></a>

                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info">
                    <h2>Our Store</h2>
                    <h3><i class="fa fa-map-marker"></i>@Model.Address</h3>
                    <h3><i class="fa fa-envelope"></i>@Model.Email</h3>
                    <h3><i class="fa fa-phone"></i>@Model.Phone</h3>
                    <div class="social">
                        @foreach (var item in followUs)
                        {
                            <a href="@item.url"><i class="@item.icon"></i></a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-form">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="txtName" placeholder="Your Name" />
                            </div>
                            <div class="col-md-6">
                                <input type="email" id="txtEmail" class="form-control" placeholder="Your Email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="txtPhone" class="form-control" placeholder="Your Phone" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="txtAddress" class="form-control" placeholder="Your Address" />
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="txtContent" rows="5" placeholder="Message"></textarea>
                        </div>
                        <div><button class="btn" id="btnSubmit" type="button">Send Message</button></div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59620.62299774671!2d106.28940895928497!3d20.940908740413715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31359b46ef2fba69%3A0x2c3c5975d0eceb2e!2zVHAuIEjhuqNpIETGsMahbmcsIEjhuqNpIETGsMahbmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1627034879079!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
@section script{
    <script src="~/Assets/Web/js/controller/contactController.js"></script>
    }